*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles/
!/.idea/codeInsightSettings.xml
!/.idea/inspectionProfiles/
!/.idea/fileTemplates/
.DS_Store
build
/captures
.externalNativeBuild
