<manifest package="tachiyomi.ui"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:theme="@style/Theme.App">
    <activity
      android:name=".main.MainActivity"
      android:windowSoftInputMode="adjustPan"
      android:configChanges="orientation|screenLayout|screenSize"
      android:theme="@style/Theme.Splash"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <data
          android:host="manga"
          android:scheme="tachiyomi" />

        <data
          android:host="chapter"
          android:scheme="tachiyomi" />
      </intent-filter>
    </activity>

    <service android:name=".library.LibraryNotifier$Service" />
  </application>

</manifest>
